*{
margin: 0;
padding: 0;
}

header{
background-color: #424e61;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0Px 0;
font-size: 50px;
}
body{
    background-color: rgb(16, 16, 43);
}
.cabecalho-imagem{
width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0  10px;
}

.escola-imagem{
    width: 25%;
}

.escola{
background-image: linear-gradient( #424e61, #4EBFE9);
}